name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Deno
        uses: denoland/setup-deno@v1.0.0

      - name: Format
        run: make fmt_check

      - name: Format
        run: make lint

      - name: Test
        run: make test
